@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 bg-earth-bg text-earth-text antialiased;
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}
