@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply m-0 bg-gray-100 text-gray-800 antialiased;
    font-family: "Poppins", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  }
}